.fas {
  background-color: green;
}
 
.toast.active {
  transform: translateX(0%);
}

.toast .toast-content {
  display: flex;
  align-items: center;
}

.toast-content .message {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.toast .close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;
}

.toast .close:hover {
  opacity: 1;
}

.toast .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
}

.toast .progress:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #008000c9;
}


.progress.active:before {
  animation: progress 3s linear forwards;
  background-color: #008000c9;
}

@keyframes progress {
  100% {
    right: 100%;
  }
}

.toast.active ~ .contacts-copy-button {
  pointer-events: none;
}


@media (min-width: 1200px) {
  .toast {
    position: fixed;
    top: 150px;
    right: 30px;
    border-radius: 12px;
    background: #fff;
    padding: 25px 40px 25px 30px;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
  }
  
  .toast-content .check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    min-width: 45px;
    background-color: #008000c9;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
  }
  
  .toast-content .check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    min-width: 45px;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
  }

  .message .text {
    font-size: 20px;
    font-weight: 400;
    color: #666666;
  }
  
  .message .text.text-1 {
    font-size: 24px;
    font-weight: 600;
    color: #333;
  }
}
    
@media (min-width: 992px) and (max-width: 1199px) {
  .toast {
    position: fixed;
    top: 150px;
    right: 30px;
    border-radius: 12px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
  }
  
  .toast-content .check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    min-width: 35px;
    background-color: #008000c9;
    color: #fff;
    font-size: 16px;
    border-radius: 50%;
  }
  
  .toast-content .check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    min-width: 35px;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
  }

  .message .text {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
  }
  
  .message .text.text-1 {
    font-size: 20px;
    font-weight: 600;
    color: #333;
  }
}
    
    
@media (min-width: 768px) and (max-width: 991px) {
  .toast {
    position: fixed;
    top: 160px;
    right: 30px;
    border-radius: 12px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
  }
  
  .toast-content .check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    min-width: 35px;
    background-color: #008000c9;
    color: #fff;
    font-size: 16px;
    border-radius: 50%;
  }
  
  .toast-content .check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    min-width: 35px;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
  }

  .message .text {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
  }
  
  .message .text.text-1 {
    font-size: 20px;
    font-weight: 600;
    color: #333;
  }
}
  
    
@media (min-width: 576px) and (max-width: 767px) {
  .toast {
    position: fixed;
    top: 160px;
    right: 30px;
    border-radius: 12px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
  }
  
  .toast-content .check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    min-width: 35px;
    background-color: #008000c9;
    color: #fff;
    font-size: 16px;
    border-radius: 50%;
  }
  
  .toast-content .check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    min-width: 35px;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
  }

  .message .text {
    font-size: 16px;
    font-weight: 400;
    color: #666666;
  }
  
  .message .text.text-1 {
    font-size: 20px;
    font-weight: 600;
    color: #333;
  }
}
    
    
@media (max-width: 575px) {
  .toast {
    position: fixed;
    top: 140px;
    right: 20px;
    border-radius: 12px;
    background: #fff;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
  }
  
  .toast-content .check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    min-width: 32px;
    background-color: #008000c9;
    color: #fff;
    font-size: 16px;
    border-radius: 50%;
  }
  
  .toast-content .check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    min-width: 32px;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
  }

  .message .text {
    font-size: 14px;
    font-weight: 400;
    color: #666666;
  }
  
  .message .text.text-1 {
    font-size: 18px;
    font-weight: 600;
    color: #333;
  }
}