@media (min-width: 1200px) {
  .block-about-me-text {
    margin-right: 40%;
    width: 800px;
  }
  
  .block-about-me-text h2 {
    line-height: 1.8;
    margin-top: 15px;
    margin-bottom: 50px;
  }

  .block-about-me-text p {
    font-size: 25px;
    color: rgb(126, 126, 126);
    line-height: 1.8;
    margin-left: 30px;
    width: 550px;
  }
  
  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1080px;
    height: 900px;
    overflow: hidden;
    position: relative;
  }
  
  .moving-image {
    margin-top: 10%;
    margin-left: 58%;
    width: 500px;
    height: auto;
    position: absolute;
    transition: all 0.3s ease-out;
  }
}
  
@media (min-width: 992px) and (max-width: 1199px) {
  .block-about-me-text {
    margin-right: 40%;
    width: 800px;
  }
  
  .block-about-me-text h2 {
    line-height: 1.8;
    margin-top: 15px;
    margin-bottom: 50px;
  }

  .block-about-me-text p {
    font-size: 24px;
    color: rgb(126, 126, 126);
    line-height: 1.8;
    margin-left: 30px;
    width: 480px;
  }
  
  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 930px;
    height: 900px;
    overflow: hidden;
    position: relative;
  }
  
  .moving-image {
    margin-top: 10%;
    margin-left: 58%;
    width: 400px;
    height: auto;
    position: absolute;
    transition: all 0.3s ease-out;
  }
}
  
  
@media (min-width: 768px) and (max-width: 991px) {
  .top-seporator-about-me {
    width: 100%;
    height: 100px;
  }

  .bottom-seporator-about-me {
    width: 100%;
    height: 60px;
  }

  .block-about-me-text {
    width: 85vw;
    /* background-color: brown; */
  }
  
  .block-about-me-text h2 {
    line-height: 1.6;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 95%;
    font-size: 26px;
  }

  .block-about-me-text p {
    font-size: 22px;
    color: rgb(126, 126, 126);
    line-height: 1.6;
    margin-left: 10px;
    width: 95%;
  }
  
  .image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .moving-image {
    width: 340px;
    height: auto;
    transition: all 0.3s ease-out;
  }
}
  
  
@media (min-width: 576px) and (max-width: 767px) {
  .top-seporator-about-me {
    width: 100%;
    height: 100px;
  }

  .bottom-seporator-about-me {
    width: 100%;
    height: 60px;
  }

  .block-about-me-text {
    width: 85vw;
    /* background-color: brown; */
  }
  
  .block-about-me-text h2 {
    line-height: 1.6;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 95%;
    font-size: 26px;
  }

  .block-about-me-text p {
    font-size: 22px;
    color: rgb(126, 126, 126);
    line-height: 1.6;
    margin-left: 10px;
    width: 95%;
  }
  
  .image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .moving-image {
    width: 540px;
    height: auto;
    transition: all 0.3s ease-out;
  } 
}
  
  
@media (max-width: 575px) {
  .top-seporator-about-me {
    width: 100%;
    height: 100px;
  }

  .bottom-seporator-about-me {
    width: 100%;
    height: 60px;
  }

  .block-about-me-text {
    width: 85vw;
    /* background-color: brown; */
  }
  
  .block-about-me-text h2 {
    line-height: 1.6;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 95%;
    font-size: 26px;
  }

  .block-about-me-text p {
    font-size: 22px;
    color: rgb(126, 126, 126);
    line-height: 1.6;
    margin-left: 10px;
    width: 95%;
  }
  
  .image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .moving-image {
    width: 340px;
    height: auto;
    transition: all 0.3s ease-out;
  }
}
  
  
  
  
  
  
  